.booster {
    position: relative;
    display: flex;
}

.booster_img {
    background: hsl(257, 27%, 26%);
    width: 100%;
}

.booster_word {
    position: relative;
    top: -8.5rem;
    text-align: center;
    color: white;
}

.booster_word h1 {
    font-size: 2rem;
}

.booster button {
    border: none;
    outline: none;
}

.booster_btn {
    display: block;
    color: white;
    font-weight: 700;
    border: none;
    width: 11%;
    padding: 0.6rem 0.5em;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    transition: all 0.5s;
    border-radius: 2em;
    font-size: 0.8em;
    z-index: 10000;
    margin: 1rem auto;
    cursor: pointer;
}