.booster {
    position: relative;
    display: flex;
    background: hsl(260, 8%, 14%);
}

.booster_img {
    background: hsl(257, 27%, 26%);
    width: 100%;
}

.booster_word {
    position: relative;
    top: -12rem;
    text-align: center;
    color: white;
}

.booster_word h1 {
    font-size: 3rem;
}

.booster button {
    border: none;
    outline: none;
}

.booster_btn {
    display: block;
    color: white;
    font-weight: 700;
    border: none;
    width: 16%;
    padding: 1rem 1em;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    transition: all 0.5s;
    border-radius: 2em;
    font-size: 1.2em;
    z-index: 10000;
    margin: 1rem auto;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .booster_word {
        top: -7rem;
    }
    .booster_word h1 {
        font-size: 2rem;
    }
    .booster_btn {
        font-size: 0.8em;
        padding: 0.8rem 0.7rem;
    }
}