.header .header-content {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 3em;
    font-weight: 700;
}

.navbar-brand {
    margin-left: 4em;
}

.nav-right {
    margin-left: 10em;
}