.short {
    background:linear-gradient(to bottom, white, white 50%, hsl(0, 0%, 75%) 50%, hsl(0, 0%, 75%));
    margin-top: 6em;
}

.short_name {
    position: relative;
    border: none;
    width: 90%;
    margin: 0 auto;
    border-radius: 7px;
}

picture .img-mobile {
    z-index: -10;
    width: 100%;
    left: 0;
    background: hsl(257, 27%, 26%);
    border-radius: 7px;
}

.shorturl {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    width: 100%;
}

.shorturl_info[type="text"] {
    border: none;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 700;
    color: gray;
}

.shorturl_submit[type="submit"] {
    border: none;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    padding: 0.7em 1.2em;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    color: white;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
}

/* @media screen and (max-width: 768px) {
    .short_name {
        width: 90%;
    }
    .shorturl {
        top: 30px;
    }
    .shorturl_info[type="text"] {
        width: 60%;
    }
    .shorturl_submit[type="submit"] {
        font-size: 1em;
    }
} */