.short {
    background:linear-gradient(to bottom, white, white 50%, hsl(0, 0%, 75%) 50%, hsl(0, 0%, 75%))
}

.short_name {
    position: relative;
    border: none;
    width: 80%;
    margin: 0 auto;
    border-radius: 7px;
    max-width: 1440px;
}

picture .img-responsive {
    z-index: -10;
    width: 100%;
    left: 0;
    background: hsl(257, 27%, 26%);
    border-radius: 7px;
}

.shorturl {
    position: absolute;
    display: flex;
    top: 50px;
    width: 100%;
}

.shorturl_info[type="text"] {
    border: none;
    border-radius: 10px;
    width: 65%;
    margin: 0 auto;
    margin-left: 3rem;
    padding: 1.3em 1.8em;
    font-size: 1em;
}

.shorturl_submit[type="submit"] {
    border: none;
    border-radius: 10px;
    width: 20%;
    margin: 0 auto;
    margin-right: 3rem;
    padding: 1em 1.8em;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .short_name {
        width: 90%;
    }
    .shorturl {
        top: 30px;
    }
    .shorturl_info[type="text"] {
        width: 60%;
    }
    .shorturl_submit[type="submit"] {
        font-size: 1em;
    }
}