.stats {
    background: hsl(0, 0%, 75%);
    display: flex;
    color: hsl(255, 11%, 22%);
}

.stats_intro {
    text-align: center;
    margin: 0 auto;
    background: hsl(0, 0%, 75%);
    /* width: 100%; */
    display: flex;
    position: absolute;
    flex-direction: column;
}

.stats_intro h1 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.stats_intro p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    color: gray;
}

.stats_info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 20rem;
    justify-content: center;
    align-items: center;
}

.stats_info1 {
    background: white;
    border: none;
    padding: 1em 1em;
    /* margin: 0 auto; */
    width: 100%;
    /* margin-bottom: 15rem; */
    border-radius: 4px;
    align-items: center;
}

.stats_info2 {
    background: white;
    border: none;
    padding: 1em 1em;
    /* margin: 0 auto; */
    width: 100%;
    /* margin-top: 2rem; */
    /* margin-bottom: 12rem; */
    border-radius: 4px;
}

.stats_info3 {
    background: white;
    border: none;
    padding: 1em 1em;
    /* margin: 0 auto; */
    width: 100%;
    /* margin-top: 4rem; */
    margin-bottom: 7rem;
    border-radius: 4px;
}

.stats_info h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.stats_info p {
    font-weight: 700;
    text-align: center;
    color: gray;
}

.stats_info span {
    width: 10%;
    background-color: hsl(180, 66%, 49%);
    height: 1.5%;
    margin-top: 8rem;
}

.stats_info_image {
    display: flex;
    justify-content: center;
    position: relative;
    top: -3rem;
}

.stats_info_image img {
    background: hsl(257, 27%, 26%);
    display: flex;
    height: 70px;
    width: auto;
    padding: 15px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .stats_info {
        margin-left: 3rem;
        width: 90%;
    }
}